<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>Customer info</h2>
      <%= render 'info', customer: @customer %>
      <h2 class="mt-3">New comic</h2>
      <%= render 'comics/form', comic: @comic %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Comics</h2>
      <%= render 'comics/index',comics: @comics %>
    </div>
  </div>
</div>
