<% if @model == 'customer' %>
	<h3>Customers search for "<%= @content %>"</h3>
  <%= render 'public/customers/index', customers: @records %>
<% elsif @model == 'comic' %>
	<h3>Comics search for "<%= @content %>"</h3>
  <%= render 'public/comics/index', comics: @records %>
<% end %>