<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto">ようこそ<i class="fas fa-book"></i><strong>漫画発掘</strong>へ!</h1>
    <h2　class= "px-5 mx-auto">面白かった漫画の情報を投稿して頂き、新しく読んでみたい漫画を探すための意見共有サイトです。<br>
    自由にコメント・レビューをしてください‼︎
    </h2>
  </div>
</div>