<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1><i class="fas fa-book"></i><stron>漫画発掘</stron></strong>  へようこそ!!</h1>
      <p><i class="fas fa-book"></i><strong>漫画発掘</strong>へようこそ‼ </p>
      <p>あなたが面白かったと思う漫画を投稿して情報共有をしていただき、<br>
      新しい読者を増やすきっかけ作りをして頂くサイトになります。</p>
      <p>健全で活発な交友の場となるように、節度ある情報の共有のほど宜しくお願い致します。</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to 'ゲストログイン（閲覧用）', public_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
        </div>
        <div class="row">
          <%= link_to 'Log in',new_customer_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to 'Sign Up',new_customer_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
        </div>
      </div>
    </div>
  </div>
</div>
