<h1>管理者メニュー</h1>

<div class="btn-wrapper col-4 mx-auto">
  <div class="row">
    <%=  link_to 'customers', admin_customers_path,class: 'btn btn-info btn-sm btn-block mb-3 customers' %>
  </div>
  <div class="row">
    <%=  link_to 'comics', admin_comics_path,class: 'btn btn-info btn-sm btn-block mb-3 comics' %>
  </div>
</div>